<div class="card bg-light" m-2">
    <div class="card-body text-center">
        <span class="h1 oi oi-rain"></span>
        <h1 class="card-title">@TemperatureC C&deg;</h1>
        <p class="card-text">@Summary weather expected @DayOfWeek</p>
    </div>
</div>

@code{
    [Parameter]
    public string Summary { get; set; }
    [Parameter]
    public int TemperatureC { get; set; }
    [Parameter]
    public DayOfWeek DayOfWeek { get; set; }
}