@page "/404"
<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                We are sorry, but we could'nt find the page you are looking for! </div>
        </div>
    </div>
</div>

@code {

}
