<h3>Home</h3>

<div style="text-align: center">
    <h1>
        @Title
    </h1>
    <p>Browse</p>
    <p><img src="~/images/coffee.jpg" width="300" height="400" class="img-fluid" /></p>
</div>
@code {
    
}
