@page "/Calculator"

<h3>Calculator</h3>

<hr />
<div>
    <div class="row">
        <div class="col-sm-3">
            <p>First Number</p>
        </div>
        <div class="col-sm-4">
            <input placeholder="Enter First Number" @bind="num1"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>Second Number</p>
        </div>
        <div class="col-sm-4">
            <input placeholder="Enter Second Number" @bind="num2" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>Result</p>
        </div>
        <div class="col-sm-4">
            <input readonly @bind="finalresult" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <buttton @onclick = "AddNumbers" class="btn btn-info">Add (+)</buttton>
        </div>
        <div class="col-sm-2">
            <buttton @onclick="MultiplyNumbers" class="btn btn-success">Multiply (x)</buttton>
        </div>
        <div class="col-sm-2">
            <buttton @onclick="SubtractNumbers" class="btn btn-primary">Subtract (-)</buttton>
        </div>
        <div class="col-sm-2">
            <buttton @onclick="DivideNumbers" class="btn btn-info">Divide (/)</buttton>
        </div>
    </div>
</div>

@code {
    string num1 = "";
    string num2 = "";
    string finalresult = "";

    private void AddNumbers()
    {
        finalresult = (Convert.ToDouble(num1) + Convert.ToDouble(num2)).ToString();
    }

    private void MultiplyNumbers()
    {
        finalresult = (Convert.ToDouble(num1) * Convert.ToDouble(num2)).ToString();
    }

    private void SubtractNumbers()
    {
        finalresult = (Convert.ToDouble(num1) - Convert.ToDouble(num2)).ToString();
    }

    private void DivideNumbers()
    {
        if (Convert.ToDouble(num2) != 0)
        {
            finalresult = (Convert.ToDouble(num1) / Convert.ToDouble(num2)).ToString();
        }
        else
        {
            finalresult = "Cannot Divide by Zero";
        }
    }

}
