@page "/carsclient"
@using System.Text.Json
@using CarJson.Models;
@inject IHttpClientFactory HttpClientFactory;

<h3>Cars Client</h3>

@if (Cars != null)
{
    <h4>Showing All Honda Car Models</h4>
    <table class="table m-4 country-table">
        <thead>
            <tr>
                <th>Make ID</th>
                <th>Make Name</th>
                <th>Model ID</th>
                <th>Model Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var car in Cars)
            {
                <tr>
                    <td>@car.Make_ID</td>
                    <td>@car.Make_Name</td>
                    <td>@car.Model_ID</td>
                    <td>@car.Model_Name</td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    
}
@code {
    Car [] Cars { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var url = "https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/honda?format=json";
        var client = HttpClientFactory.CreateClient();
        var response = await client.GetAsync(url);
        using (var responseStream=await response.Content.ReadAsStreamAsync())
        {
            var data = await JsonSerializer.DeserializeAsync<Data>(responseStream);
            Cars = data.Results;

        }
    }
}
